In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import seaborn as sns
import statsmodels.api as sm

Subtask 1: Correct years for given data set
        
Subtask 2: removal of duplicate rows and duplicate Columns

Subtask 3: fix a few labels in the given data set 

Subtask 4: Encoding data into suitable format

In [3]:
df_raw=pd.read_csv('weather_dataset_stage1.csv')
display(df_raw)

,weather_dataset,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,tableName,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Date\tVARCHAR(512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,temperature\tDOUBLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Average humidity (%\tDOUBLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3926,2022-07-25','62.8','60.0','48.1','29.7','2.5','4.0','242.0','0.33','4.47',...,'90.0','36.0','29.781','29.645','8.1','17.3','77.5','2022-07-25','07','0.13599999999999923'
3927,2022-07-26','60.6','68.0','48.9','29.8','1.7','2.9','357.0','0.33','4.47',...,'90.0','40.0','29.93','29.745','11.5','15.0','77.5','2022-07-26','07','0.18499999999999872'
3928,2022-07-27','61.7','64.0','47.4','29.9','2.2','4.0','66.0','0.33','4.47',...,'96.0','35.0','29.941','29.781','13.8','18.4','78.2','2022-07-27','07','0.16000000000000014'
3929,2022-07-28','60.5','61.0','45.3','29.7','4.0','6.2','248.0','0.35','4.49',...,'94.0','35.0','29.792','29.675','17.3','26.5','77.6','2022-07-28','07','0.11700000000000088';
3930,2022-07-28','60.5','61.0','45.3','29.7','4.0','6.2','248.0','0.35','4.49',...,'94.0','35.0','29.792','29.675','17.3','26.5','77.6','2022-07-28','07','0.11700000000000088';

# Subtask 1: Correct years for given data set

In [4]:
df=df_raw.dropna().reset_index(drop=True)
title = df.iloc[0]
df.drop([0], inplace=True)
df.columns = title 
df=df.reset_index(drop=True)
df=df.applymap(lambda x: x.replace('\'', ''))
display(df)

,Date,Temperature,Average humidity (%,Average dewpoint (°F,Average barometer (in,Average windspeed (mph,Average gustspeed (mph,Average direction (°deg,Rainfall for month (in,Rainfall for year (in,...,Maximum humidity (%,Minimum humidity (%,Maximum pressure,Minimum pressure,Maximum windspeed (mph,Maximum gust speed (mph,Maximum heat index (°F,Date1,Month,diff_pressure
0,2022-01-01,37.8,35.0,12.7,29.7,26.4,36.8,274.0,0.0,0.0,...,4.0,27.0,29.762,29.596,41.4,59.0,40.0,2022-01-01,01,0.16600000000000037
1,2022-01-02,43.2,32.0,14.7,29.5,12.8,18.0,240.0,0.0,0.0,...,4.0,16.0,29.669,29.268,35.7,51.0,52.0,2022-01-02,01,0.4009999999999998
2,2022-01-03,25.7,60.0,12.7,29.7,8.3,12.2,290.0,0.0,0.0,...,8.0,35.0,30.232,29.26,25.3,38.0,41.0,2022-01-03,01,0.9719999999999978
3,2022-01-04,9.3,67.0,0.1,30.4,2.9,4.5,47.0,0.0,0.0,...,7.0,35.0,30.566,30.227,12.7,20.0,32.0,2022-01-04,01,0.33899999999999864
4,2022-01-05,23.5,30.0,-5.3,29.9,16.7,23.1,265.0,0.0,0.0,...,5.0,13.0,30.233,29.568,38.0,53.0,32.0,2022-01-05,01,0.6649999999999991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3898,2022-07-25,62.8,60.0,48.1,29.7,2.5,4.0,242.0,0.33,4.47,...,90.0,36.0,29.781,29.645,8.1,17.3,77.5,2022-07-25,07,0.13599999999999923
3899,2022-07-26,60.6,68.0,48.9,29.8,1.7,2.9,357.0,0.33,4.47,...,90.0,40.0,29.93,29.745,11.5,15.0,77.5,2022-07-26,07,0.18499999999999872
3900,2022-07-27,61.7,64.0,47.4,29.9,2.2,4.0,66.0,0.33,4.47,...,96.0,35.0,29.941,29.781,13.8,18.4,78.2,2022-07-27,07,0.16000000000000014
3901,2022-07-28,60.5,61.0,45.3,29.7,4.0,6.2,248.0,0.35,4.49,...,94.0,35.0,29.792,29.675,17.3,26.5,77.6,2022-07-28,07,0.11700000000000088;
3902,2022-07-28,60.5,61.0,45.3,29.7,4.0,6.2,248.0,0.35,4.49,...,94.0,35.0,29.792,29.675,17.3,26.5,77.6,2022-07-28,07,0.11700000000000088;

In [5]:
# find the index for beginning of years
df = df.drop(columns=['Date1'])
df[df['Date'] == '2022-01-01']

,Date,Temperature,Average humidity (%,Average dewpoint (°F,Average barometer (in,Average windspeed (mph,Average gustspeed (mph,Average direction (°deg,Rainfall for month (in,Rainfall for year (in,...,Minimum temperature (°F,Maximum humidity (%,Minimum humidity (%,Maximum pressure,Minimum pressure,Maximum windspeed (mph,Maximum gust speed (mph,Maximum heat index (°F,Month,diff_pressure
0,2022-01-01,37.8,35.0,12.7,29.7,26.4,36.8,274.0,0.0,0.0,...,34.0,4.0,27.0,29.762,29.596,41.4,59.0,40.0,01,0.16600000000000037
331,2022-01-01,32.1,49.0,15.2,30.2,14.6,19.7,297.0,0.0,0.0,...,22.1,61.0,41.0,30.33,30.034,34.5,51.0,40.0,01,0.2959999999999994
692,2022-01-01,6.6,37.0,-14.4,30.3,19.3,25.5,302.0,0.0,0.0,...,1.5,46.0,30.0,30.398,30.157,32.2,43.7,13.1,01,0.24099999999999966
942,2022-01-01,32.4,26.0,-1.1,30.5,10.8,15.3,234.0,0.0,0.0,...,22.7,56.0,10.0,30.642,30.322,28.8,47.2,44.2,01,0.3200000000000003
1279,2022-01-01,13.4,50.0,-3.5,30.4,6.4,9.7,255.0,0.0,0.0,...,-0.0,80.0,28.0,30.466,30.246,17.3,26.5,22.9,01,0.22000000000000242
1599,2022-01-01,26.9,57.0,13.4,30.1,5.6,8.7,268.0,0.0,0.0,...,15.9,88.0,33.0,30.383,29.843,18.4,29.9,34.6,01,0.5399999999999991
1956,2022-01-01,8.1,65.0,-2.1,30.4,1.2,2.3,28.0,0.01,0.01,...,-9.0,78.0,31.0,30.606,30.23,10.4,13.8,31.3,01,0.3760000000000012
2307,2022-01-01,7.5,51.0,-9.4,30.8,0.7,1.3,56.0,0.0,0.0,...,-12.2,75.0,11.0,31.021,30.543,6.9,10.4,37.8,01,0.47800000000000153
2673,2022-01-01,33.4,38.0,10.2,29.6,9.8,14.7,216.0,0.0,0.0,...,29.7,44.0,29.0,29.663,29.467,23.0,34.5,37.0,01,0.1960000000000015
3009,2022-01-01,34.6,25.0,0.3,30.2,0.0,0.0,73.0,0.0,0.0,...,22.5,48.0,13.0,30.292,30.069,0.0,0.0,44.1,01,0.22300000000000253
3333,2022-01-01,2.4,67.0,-6.5,30.4,0.2,0.4,283.0,0.01,0.01,...,-11.0,79.0,47.0,30.575,30.227,4.6,6.9,20.0,01,0.347999999999999
3692,2022-01-01,30.5,58.0,17.3,29.5,15.0,21.5,234.0,0.0,0.0,...,26.3,76.0,45.0,29.744,29.378,32.2,47.2,36.0,01,0.36599999999999966

In [6]:
#replace year with correct year

for n in range(331,691):
    df['Date'].iloc[n]=df['Date'].iloc[n].replace('2022','2023')
for n in range(692,941):
    df['Date'].iloc[n]=df['Date'].iloc[n].replace('2022','2024')
for n in range(942,1278):
    df['Date'].iloc[n]=df['Date'].iloc[n].replace('2022','2025')
for n in range(1279,1598):
    df['Date'].iloc[n]=df['Date'].iloc[n].replace('2022','2026')
for n in range(1599,1955):
    df['Date'].iloc[n]=df['Date'].iloc[n].replace('2022','2027')
for n in range(1956,2306):
    df['Date'].iloc[n]=df['Date'].iloc[n].replace('2022','2028')
for n in range(2307,2672):
    df['Date'].iloc[n]=df['Date'].iloc[n].replace('2022','2029')
for n in range(2673,3008):
    df['Date'].iloc[n]=df['Date'].iloc[n].replace('2022','2030')
for n in range(3009,3332):
    df['Date'].iloc[n]=df['Date'].iloc[n].replace('2022','2031')
for n in range(3333,3691):
    df['Date'].iloc[n]=df['Date'].iloc[n].replace('2022','2032')
for n in range(3692,3903):
    df['Date'].iloc[n]=df['Date'].iloc[n].replace('2022','2033')

df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d', errors='coerce')    
dfna=df[df['Date'].isnull()] #find all rows with na date format, for example 2029-2-29
display(dfna)
df=df.dropna().reset_index(drop=True)
display(df)

,Date,Temperature,Average humidity (%,Average dewpoint (°F,Average barometer (in,Average windspeed (mph,Average gustspeed (mph,Average direction (°deg,Rainfall for month (in,Rainfall for year (in,...,Minimum temperature (°F,Maximum humidity (%,Minimum humidity (%,Maximum pressure,Minimum pressure,Maximum windspeed (mph,Maximum gust speed (mph,Maximum heat index (°F,Month,diff_pressure
2366,NaT,38.1,36.0,12.3,29.8,11.5,17.0,77.0,0.16,0.36,...,27.9,73.0,22.0,30.023,29.702,29.9,39.1,45.9,02,0.32099999999999795
3751,NaT,37.6,31.0,8.7,29.8,8.0,11.6,236.0,0.48,0.49,...,26.1,57.0,20.0,29.972,29.647,19.6,31.1,48.1,02,0.32500000000000284

,Date,Temperature,Average humidity (%,Average dewpoint (°F,Average barometer (in,Average windspeed (mph,Average gustspeed (mph,Average direction (°deg,Rainfall for month (in,Rainfall for year (in,...,Minimum temperature (°F,Maximum humidity (%,Minimum humidity (%,Maximum pressure,Minimum pressure,Maximum windspeed (mph,Maximum gust speed (mph,Maximum heat index (°F,Month,diff_pressure
0,2022-01-01,37.8,35.0,12.7,29.7,26.4,36.8,274.0,0.0,0.0,...,34.0,4.0,27.0,29.762,29.596,41.4,59.0,40.0,01,0.16600000000000037
1,2022-01-02,43.2,32.0,14.7,29.5,12.8,18.0,240.0,0.0,0.0,...,37.0,4.0,16.0,29.669,29.268,35.7,51.0,52.0,01,0.4009999999999998
2,2022-01-03,25.7,60.0,12.7,29.7,8.3,12.2,290.0,0.0,0.0,...,6.0,8.0,35.0,30.232,29.26,25.3,38.0,41.0,01,0.9719999999999978
3,2022-01-04,9.3,67.0,0.1,30.4,2.9,4.5,47.0,0.0,0.0,...,-0.0,7.0,35.0,30.566,30.227,12.7,20.0,32.0,01,0.33899999999999864
4,2022-01-05,23.5,30.0,-5.3,29.9,16.7,23.1,265.0,0.0,0.0,...,15.0,5.0,13.0,30.233,29.568,38.0,53.0,32.0,01,0.6649999999999991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3896,2033-07-25,62.8,60.0,48.1,29.7,2.5,4.0,242.0,0.33,4.47,...,55.1,90.0,36.0,29.781,29.645,8.1,17.3,77.5,07,0.13599999999999923
3897,2033-07-26,60.6,68.0,48.9,29.8,1.7,2.9,357.0,0.33,4.47,...,50.5,90.0,40.0,29.93,29.745,11.5,15.0,77.5,07,0.18499999999999872
3898,2033-07-27,61.7,64.0,47.4,29.9,2.2,4.0,66.0,0.33,4.47,...,43.6,96.0,35.0,29.941,29.781,13.8,18.4,78.2,07,0.16000000000000014
3899,2033-07-28,60.5,61.0,45.3,29.7,4.0,6.2,248.0,0.35,4.49,...,46.0,94.0,35.0,29.792,29.675,17.3,26.5,77.6,07,0.11700000000000088;
3900,2033-07-28,60.5,61.0,45.3,29.7,4.0,6.2,248.0,0.35,4.49,...,46.0,94.0,35.0,29.792,29.675,17.3,26.5,77.6,07,0.11700000000000088;

# Subtask 2: removal of duplicate rows and duplicate Columns

In [7]:
df= df.drop_duplicates() #removal rows
df= df.T.drop_duplicates().T #removal columns 
display(df)

,Date,Temperature,Average humidity (%,Average dewpoint (°F,Average barometer (in,Average windspeed (mph,Average gustspeed (mph,Average direction (°deg,Rainfall for month (in,Rainfall for year (in,...,Minimum temperature (°F,Maximum humidity (%,Minimum humidity (%,Maximum pressure,Minimum pressure,Maximum windspeed (mph,Maximum gust speed (mph,Maximum heat index (°F,Month,diff_pressure
0,2022-01-01,37.8,35.0,12.7,29.7,26.4,36.8,274.0,0.0,0.0,...,34.0,4.0,27.0,29.762,29.596,41.4,59.0,40.0,01,0.16600000000000037
1,2022-01-02,43.2,32.0,14.7,29.5,12.8,18.0,240.0,0.0,0.0,...,37.0,4.0,16.0,29.669,29.268,35.7,51.0,52.0,01,0.4009999999999998
2,2022-01-03,25.7,60.0,12.7,29.7,8.3,12.2,290.0,0.0,0.0,...,6.0,8.0,35.0,30.232,29.26,25.3,38.0,41.0,01,0.9719999999999978
3,2022-01-04,9.3,67.0,0.1,30.4,2.9,4.5,47.0,0.0,0.0,...,-0.0,7.0,35.0,30.566,30.227,12.7,20.0,32.0,01,0.33899999999999864
4,2022-01-05,23.5,30.0,-5.3,29.9,16.7,23.1,265.0,0.0,0.0,...,15.0,5.0,13.0,30.233,29.568,38.0,53.0,32.0,01,0.6649999999999991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,2033-07-24,64.1,62.0,49.8,29.6,3.6,5.8,240.0,0.24,4.38,...,55.3,86.0,35.0,29.686,29.577,15.0,25.3,77.4,07,0.10899999999999821
3896,2033-07-25,62.8,60.0,48.1,29.7,2.5,4.0,242.0,0.33,4.47,...,55.1,90.0,36.0,29.781,29.645,8.1,17.3,77.5,07,0.13599999999999923
3897,2033-07-26,60.6,68.0,48.9,29.8,1.7,2.9,357.0,0.33,4.47,...,50.5,90.0,40.0,29.93,29.745,11.5,15.0,77.5,07,0.18499999999999872
3898,2033-07-27,61.7,64.0,47.4,29.9,2.2,4.0,66.0,0.33,4.47,...,43.6,96.0,35.0,29.941,29.781,13.8,18.4,78.2,07,0.16000000000000014
3899,2033-07-28,60.5,61.0,45.3,29.7,4.0,6.2,248.0,0.35,4.49,...,46.0,94.0,35.0,29.792,29.675,17.3,26.5,77.6,07,0.11700000000000088;

# Subtask 3: fix a few labels in the given data set

In [8]:
df[' diff_pressure'] = df[' diff_pressure'].str.replace(";", "")
display(df)

,Date,Temperature,Average humidity (%,Average dewpoint (°F,Average barometer (in,Average windspeed (mph,Average gustspeed (mph,Average direction (°deg,Rainfall for month (in,Rainfall for year (in,...,Minimum temperature (°F,Maximum humidity (%,Minimum humidity (%,Maximum pressure,Minimum pressure,Maximum windspeed (mph,Maximum gust speed (mph,Maximum heat index (°F,Month,diff_pressure
0,2022-01-01,37.8,35.0,12.7,29.7,26.4,36.8,274.0,0.0,0.0,...,34.0,4.0,27.0,29.762,29.596,41.4,59.0,40.0,01,0.16600000000000037
1,2022-01-02,43.2,32.0,14.7,29.5,12.8,18.0,240.0,0.0,0.0,...,37.0,4.0,16.0,29.669,29.268,35.7,51.0,52.0,01,0.4009999999999998
2,2022-01-03,25.7,60.0,12.7,29.7,8.3,12.2,290.0,0.0,0.0,...,6.0,8.0,35.0,30.232,29.26,25.3,38.0,41.0,01,0.9719999999999978
3,2022-01-04,9.3,67.0,0.1,30.4,2.9,4.5,47.0,0.0,0.0,...,-0.0,7.0,35.0,30.566,30.227,12.7,20.0,32.0,01,0.33899999999999864
4,2022-01-05,23.5,30.0,-5.3,29.9,16.7,23.1,265.0,0.0,0.0,...,15.0,5.0,13.0,30.233,29.568,38.0,53.0,32.0,01,0.6649999999999991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,2033-07-24,64.1,62.0,49.8,29.6,3.6,5.8,240.0,0.24,4.38,...,55.3,86.0,35.0,29.686,29.577,15.0,25.3,77.4,07,0.10899999999999821
3896,2033-07-25,62.8,60.0,48.1,29.7,2.5,4.0,242.0,0.33,4.47,...,55.1,90.0,36.0,29.781,29.645,8.1,17.3,77.5,07,0.13599999999999923
3897,2033-07-26,60.6,68.0,48.9,29.8,1.7,2.9,357.0,0.33,4.47,...,50.5,90.0,40.0,29.93,29.745,11.5,15.0,77.5,07,0.18499999999999872
3898,2033-07-27,61.7,64.0,47.4,29.9,2.2,4.0,66.0,0.33,4.47,...,43.6,96.0,35.0,29.941,29.781,13.8,18.4,78.2,07,0.16000000000000014
3899,2033-07-28,60.5,61.0,45.3,29.7,4.0,6.2,248.0,0.35,4.49,...,46.0,94.0,35.0,29.792,29.675,17.3,26.5,77.6,07,0.11700000000000088

# Subtask 4: Encoding data into suitable format

In [10]:
columnlist = [i for i in list(df.columns) if i not in ['Date',' Month']]

for n in columnlist:
  df.loc[:,n] = df.loc[:,n].astype(float)
df.loc[:,' Month'] = df.loc[:,' Month'].astype(int)
df.loc[:,'Date'] = df.loc[:,'Date'].astype(str)

df.info()

df.to_csv('weather_dataset.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3900 entries, 0 to 3899
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      3900 non-null   object
 1    Temperature              3900 non-null   float64
 2    Average humidity (%      3900 non-null   float64
 3    Average dewpoint (°F     3900 non-null   float64
 4    Average barometer (in    3900 non-null   float64
 5    Average windspeed (mph   3900 non-null   float64
 6    Average gustspeed (mph   3900 non-null   float64
 7    Average direction (°deg  3900 non-null   float64
 8    Rainfall for month (in   3900 non-null   float64
 9   Rainfall for year (in     3900 non-null   float64
 10   Maximum rain per minute  3900 non-null   float64
 11   Maximum temperature (°F  3900 non-null   float64
 12   Minimum temperature (°F  3900 non-null   float64
 13   Maximum humidity (%      3900 non-null   float64
 14   Minimum humidity (%      3900 non-null   float64
 15   Maximum pressure         3900 non-null   float64
 16   Minimum pressure         3900 non-null   float64
 17   Maximum windspeed (mph   3900 non-null   float64
 18   Maximum gust speed (mph  3900 non-null   float64
 19   Maximum heat index (°F   3900 non-null   float64
 20   Month                    3900 non-null   int64
 21   diff_pressure            3900 non-null   float64
dtypes: float64(20), int64(1), object(1)
memory usage: 829.8+ KB

In [ ]:
create database weather;
use weather;

SET SQL_SAFE_UPDATES=0;
UPDATE weather
SET Date=STR_TO_DATE(Date, "%m/%d/%Y");
SET SQL_SAFE_UPDATES=1;
ALTER TABLE weather 
MODIFY COLUMN Date date;

describe weather;

select date,temperature 
from weather
limit 10;


#1 Give the count of the minimum number of days for the time when temperature reduced
WITH daily_temp AS (
  SELECT Date, Average_temperature,
         LAG(Average_temperature) OVER (ORDER BY Date) AS prev_temp
  FROM weather)
  
SELECT COUNT(*) as minimumdays
FROM daily_temp
WHERE Average_temperature < prev_temp;

#2 Find the temperature as Cold / hot by using the case and avg of values of the given data set

With CTE as 
(SELECT Date, Average_temperature from dailyweather)
Select Date, Average_temperature,
CASE 
    WHEN Average_temperature >= AVG(Average_temperature) over() THEN 'Hot'
    ELSE 'Cold'
END as 'temp_status'
FROM CTE;
/
WITH cte AS (
SELECT Date, Average_temperature, AVG(Average_temperature) OVER() as avg_temp
FROM dailyweather
)
SELECT Date, Average_temperature,
CASE
WHEN Average_temperature >= avg_temp THEN 'Hot'
ELSE 'Cold'
END as temp_status
FROM cte
ORDER BY Date;
/
select date,
       temperature,
case when temperature > (select avg(temperature) from weather) then "hot" 
            when temperature < (select avg(temperature) from weather) then "cold"
       else "even" 
	   end as status
from weather;

In [ ]:
#3 Can you check for all 4 consecutive days when the temperature was below 30 Fahrenheit

   SELECT 
     Date, 
     Average_temperature, 
     Case 
        When Average_temperature < 30 then 'below'
        else 'above'
     end as temp30,
     ROW_NUMBER() OVER (ORDER BY Date) AS RowNumber
   FROM dailyweather
)
SELECT 
  CTE.Date, 
  CTE.Average_temperature, 
  CTE.temp30 
FROM CTE
WHERE temp30 = 'below'
  AND (
    SELECT COUNT(*) 
    FROM CTE as innerCTE 
    WHERE innerCTE.RowNumber BETWEEN CTE.RowNumber AND CTE.RowNumber + 3
      AND innerCTE.temp30 = 'below'
  ) = 4
ORDER BY CTE.Date;


WITH cte AS (
    SELECT date, temperature,
           ROW_NUMBER() OVER (ORDER BY date) -
           ROW_NUMBER() OVER (PARTITION BY temperature < 30 ORDER BY date) AS grp
    FROM weather
)
SELECT MIN(date) AS start_date, MAX(date) AS end_date
FROM cte
GROUP BY grp, temperature < 30
HAVING COUNT(*) >= 4 AND MIN(temperature) < 30;

In [ ]:
#4 pradaColumns having numeric data types are to be majorly used in visuals

WITH cte1 AS (
    SELECT date, temperature,
           ROW_NUMBER() OVER (ORDER BY date) AS seq
    FROM weather
), cte2 AS (
    SELECT a.date, a.temperature, a.seq,
           SUM(CASE WHEN a.temperature < b.temperature THEN 1 ELSE 0 END) OVER (ORDER BY a.date) AS grp
    FROM cte1 a
    LEFT JOIN cte1 b
        ON a.seq = b.seq + 1
)

SELECT MAX(cnt)
FROM (
    SELECT grp, COUNT(*) AS cnt
    FROM cte2
    GROUP BY grp
) t;

In [ ]:
#5 Can you find the maximum number of days for which temperature dropped

select year(date),
       avg(humidity) as year_avg_hum
from weather
group by year(date)
order by 1 ;

In [ ]:
#6 Use the GROUP BY clause on the Date column and make a query to fetch details for average windspeed ( which is now windspeed done in task 3 )

select year(date),
       avg(windspeed) as year_avg_wind_speed
from weather
group by year(date)
order by 1;

In [ ]:
#8 If the maximum gust speed increases from 55mph, fetch the details for the next 4 days 
SELECT Date, Average_windspeed, Average_gust_speed
FROM dailyweather
WHERE Date > (SELECT Date FROM dailyweather WHERE Average_gust_speed > 55 ORDER BY Date LIMIT 1)
LIMIT 4;

In [ ]:
#9 Find the number of days when the temperature went below 0 degrees Celsius
select count(*) as days
from weather
where temperature < 32;

In [ ]:
#10 Create another table with a “Foreign key” relation with the existing given data set.
create table uv(
    id int not null,
	foreign key(date) references weather(date),
    primary key(id),
    uv_index varchar(50)
    );